/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  '  |  ,  |  .  |  P  |  Y  |   |  F  |  G  |  C  |  R  |  L  |  \   |
// | CTRL |  A  |  O  |  E  |  U  |  I  |   |  D  |  H  |  T  |  N  |  S  |  /   |
// | SHFT |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M  |  W  |  V  |  Z  | SHFT |
//                    | GUI | ENT | LWR |   | RSE | SPC | ALT |
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp SQT  &kp COMMA &kp DOT  &kp P &kp Y     &kp F    &kp G  &kp C &kp R &kp L &kp BSLH
   &kp LCTRL &kp A    &kp O     &kp E    &kp U &kp I     &kp D    &kp H  &kp T &kp N &kp S &kp FSLH
   &kp LSHFT &kp SEMI &kp Q     &kp J    &kp K &kp X     &kp B    &kp M  &kp W &kp V &kp Z &kp RSHFT
                                &kp LGUI &kp RET &mo 1   &mo 2 &kp SPACE &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |   1   |  2  |  3  |  4  |  5  |   |  6   |  7  |  8  |  9  |  0  | BKSP |
// | CTRL |  BT1  | BT2 | BT3 | BT4 | BT5 |   |      | LFT |  UP | DWN | RGT |      |
// | SHFT | BTCLR |     |     |     |     |   |      |     |     |     |     | SHFT |
//                      | GUI |     | ENT |   | BKSP |     | ALT |
                        display-name = "Lower";
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8   &kp N9    &kp N0    &kp BSPC
   &kp LCTRL  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans   &kp LEFT &kp UP   &kp DOWN  &kp RIGHT &trans
   &kp LSHFT  &bt BT_CLR   &trans       &trans       &trans       &trans         &trans   &trans   &trans   &trans    &trans    &kp RSHFT
                          	        &kp LGUI     &kp RET      &trans         &trans   &kp BSPC &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     | MAC |     |   |  -  |  [  |  ]  |  _  |  `  |      |
// | SHFT |     |     |     |     |     |   |  =  |  {  |  }  |  +  |  ~  |      |
//                    | GUI | ENT |     |   |     | BKSP| ALT |
                        display-name = "Raise";
                        bindings = <
   &kp  ESC  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp BSPC
   &kp LCTRL &trans   &trans &trans   &tog 3   &trans      &kp MINUS &kp LBKT  &kp RBKT        &kp UNDER &kp GRAVE &trans
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp EQUAL &kp LBRC  &kp RBRC        &kp PLUS  &kp TILDE &trans
                    	     &kp LGUI &kp RET  &trans      &trans    &kp BSPC  &kp RALT
                        >;
                };

                mac_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |      |     |     |   |     |     |     |     |     |      |
// | GUI |     |     |      |     |     |   |     |     |     |     |     |      |
// |     |     |     |      |     |     |   |     |     |     |     |     |      |
//                   | CTRL |     |     |   |     |     |     |
                        display-name = "Mac";
                        bindings = <
   &trans   &trans &trans &trans    &trans &trans      &trans &trans &trans &trans &trans &trans
   &kp LGUI &trans &trans &trans    &trans &trans      &trans &trans &trans &trans &trans &trans
   &trans   &trans &trans &trans    &trans &trans      &trans &trans &trans &trans &trans &trans
                          &kp LCTRL &trans &trans      &trans &trans &trans
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
